<a href="https://colab.research.google.com/github/hwangkyojune/RDR-web-site/blob/main/%EB%AC%B4%EC%9E%91%EC%9C%84_%EC%9D%B4%EB%A6%84%2C_%EC%A3%BC%EB%AF%BC%EB%B2%88%ED%98%B8_%EB%A7%8C%EB%93%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pname, pRNN, phone, age 만들어야 댐

In [12]:
import numpy as np
import pandas as pd

In [60]:
#사람 성과 인구 비율 파일 업로드
rawdata = pd.read_csv("/content/aaaa.txt",delimiter = "\t",header=None) 
rawdata

#rawdata에서 사람 성씨만 골라내기
surname = rawdata.iloc[0:-1,1]
for i in range(len(surname)):
  surname.iloc[i,] = surname.iloc[i,].split("(")[0]
surname

#우리나라 이름 종류
rawdata2 = pd.read_csv("/content/bbbb.txt",delimiter = "\t",header=None) 
middlename = rawdata2.iloc[0:-1,0]
middlename

#성씨 마다의 인구수
li = []
number = rawdata.iloc[0:-1,2]

#데이터에 있는 인구수는 숫자가 아니라 ,라는 문자가 포함된 string
#정규 표현식으로 제거
print(f"바꾸기 전 데이터 타입 : {number.iloc[0]} , {type(number.iloc[0])}")
import re
for i in range(len(number)):
  number[i] = int(re.sub(r'[^0-9]', '', number[i]))


#인구수 모두 합치기
sum = number.sum()
sum

#성씨마다의 인구수 비율
proba = pd.Series([])
for i in range(len(number)):
  proba[i] = number[i]/sum
proba

#만들 사람 수 반환
number = int(input("만들 사람 수 : "))

#성씨의 비율 별로 이름을 선정
name = []
sur=surname.sample(number,replace=True,weights=proba).reset_index(drop=True)
middle = middlename.sample(number,replace=True).reset_index(drop=True)
for i in range(len(sur)):
  name.append(sur[i]+middle[i])
print(f"만들어진 사람은 {len(name)}명 입니다.")

#주민번호 앞자리 무작위 만들기
import random

month_day = [31,29,31,30,31,30,31,31,30,31,30,31]
front = pd.Series([])
for i in range(number):
  year = (np.random.randint(1960,2023))
  month = (np.random.randint(1,12))
  day = (np.random.randint(1,month_day[month-1]))
  date = str(year) + "-" + str(month) + "-" + str(day)
  pd_date = pd.to_datetime(date).strftime('%Y%m%d')
  front[i] = pd_date[2:len(pd_date)]

#주민번호 뒷자리 만들기
import random
 
back = random.sample(range(1000000,4999999),number)

#주민번호 합치기
RNN = pd.Series([])
for i in range(number):
  RNN[i] = front[i] + "-" + str(back[i])

#주민번호로부터 age 만들기
#23이하부터는 20을 붙이고 나머지는 19를 붙이기
#현재년도에서 생년월일 빼고 생일이 안 지났으면 1을 빼준다.
from datetime import datetime

age = pd.Series([])

for i in range(len(RNN)):

  if int(RNN[i][0:2]) > 23:
    date = "19" + RNN[i][0:6]
    old = int(datetime.now().year) - int(date[0:4])
    if int(datetime.now().strftime('%m%d')) < int(RNN[i][2:6]):
      old -= 1
  else :
    date = "20" + RNN[i][0:6]
    old = int(datetime.now().year) - int(date[0:4])
    if int(datetime.now().strftime('%m%d')) < int(RNN[i][2:6]):
      old -= 1
  age[i] = old

#전화번호 만들기
bphone = random.sample(range(1000000000,1099999999),number)

phone = pd.Series([])

for i in range(len(bphone)):
  phone[i] = str(str(bphone[i]).zfill(11))

patient_info = pd.DataFrame({"pname":name,"pRNN":RNN,"phone":phone,"age":age})
patient_info

#파일로 저장할지 결정 y yes n no

conclude = input("저장?( 할거면 y 아니면 n ):")

if conclude == "y":
  path = input("저장할 경로 :")
  realpath = f"{path}/patient_info"
  patient_info.to_csv(realpath,encoding="utf-8-sig")

<ipython-input-60-91fbc73415a5>:33: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  proba = pd.Series([])

바꾸기 전 데이터 타입 : 10,689,959 , <class 'str'>
만들 사람 수 : 10

<ipython-input-60-91fbc73415a5>:53: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  front = pd.Series([])
<ipython-input-60-91fbc73415a5>:68: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  RNN = pd.Series([])
<ipython-input-60-91fbc73415a5>:77: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  age = pd.Series([])
<ipython-input-60-91fbc73415a5>:96: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  phone = pd.Series([])

만들어진 사람은 10명 입니다.
저장?( 할거면 y 아니면 n ):y
저장할 경로 :/content/sample_data

In [ ]:
#의사 번호
hosID = pd.Series(np.random.randint(1,10,30))
hosID

0     3
1     4
2     8
3     3
4     9
5     9
6     4
7     4
8     3
9     6
10    7
11    4
12    5
13    1
14    8
15    8
16    9
17    9
18    6
19    5
20    2
21    1
22    1
23    1
24    9
25    9
26    1
27    3
28    9
29    1
dtype: int64

In [ ]:
doctor_info = pd.concat([hosID,lk ,RNN,phone],axis=1)
doctor_info

    0    1               1            2
0   3  배시원  670106-2152264  01073448179
1   4  박지호  900615-1305098  01011077384
2   8  홍태양  180720-3583511  01081101945
3   3  이서은  690324-1290178  01036759823
4   9  한하율  691029-3955844  01039743563
5   9  김채린  800705-3035785  01011420648
6   4  박하준  180620-4921175  01046555946
7   4  김민지  101001-1164679  01060976726
8   3  이예지  820210-2334981  01013023782
9   6  권주하  120211-4973210  01007918190
10  7  현지성  630403-3026411  01047829561
11  4  차지환  211125-1719900  01066972595
12  5  박하람  070306-3790790  01031249746
13  1  김서연  110713-1405000  01073354366
14  8  배채원  700803-3553707  01001787963
15  8  김서아  800112-4670360  01091249832
16  9  서정우  080827-2268884  01000450135
17  9  정지율  040304-3315156  01044513240
18  6  김성준  960204-2263876  01098757526
19  5  임지완  911010-2262711  01059627085
20  2  김소민  950302-4375571  01085002218
21  1  이연우  210907-4465482  01014646026
22  1  김서우  970818-2712408  01033063440
23  1  최태민  100407-2793049  01045537754
24  9  박민석  090329-4700828  01064302768
25  9  양다윤  720224-1948801  01080619095
26  1  최지민  630612-2877581  01039827383
27  3  최윤재  940326-2363225  01041167469
28  9  전정민  650208-4788906  01029250985
29  1  임하민  151026-4550160  01006318124

In [ ]:
doctor_info.columns=["hosID", "dname", "dRNN", "phone"]
doctor_info

    hosID dname            dRNN        phone
0       3   배시원  670106-2152264  01073448179
1       4   박지호  900615-1305098  01011077384
2       8   홍태양  180720-3583511  01081101945
3       3   이서은  690324-1290178  01036759823
4       9   한하율  691029-3955844  01039743563
5       9   김채린  800705-3035785  01011420648
6       4   박하준  180620-4921175  01046555946
7       4   김민지  101001-1164679  01060976726
8       3   이예지  820210-2334981  01013023782
9       6   권주하  120211-4973210  01007918190
10      7   현지성  630403-3026411  01047829561
11      4   차지환  211125-1719900  01066972595
12      5   박하람  070306-3790790  01031249746
13      1   김서연  110713-1405000  01073354366
14      8   배채원  700803-3553707  01001787963
15      8   김서아  800112-4670360  01091249832
16      9   서정우  080827-2268884  01000450135
17      9   정지율  040304-3315156  01044513240
18      6   김성준  960204-2263876  01098757526
19      5   임지완  911010-2262711  01059627085
20      2   김소민  950302-4375571  01085002218
21      1   이연우  210907-4465482  01014646026
22      1   김서우  970818-2712408  01033063440
23      1   최태민  100407-2793049  01045537754
24      9   박민석  090329-4700828  01064302768
25      9   양다윤  720224-1948801  01080619095
26      1   최지민  630612-2877581  01039827383
27      3   최윤재  940326-2363225  01041167469
28      9   전정민  650208-4788906  01029250985
29      1   임하민  151026-4550160  01006318124

In [ ]:
doctor_info.to_csv("/content/sample_data/doctor_info1.csv",encoding="utf-8-sig")

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
host_drug = pd.DataFrame({"hosID":[],"drugID":[],"amount":[]})
host_drug

Empty DataFrame
Columns: [hosID, drugID, amount]
Index: []

In [ ]:
k=0
for i in range(1,12):
  for j in range(1,11):
    host_drug.loc[k] = [j,i,np.random.randint(0,1000)*10]
    k += 1
host_drug

     hosID  drugID  amount
0        1       1    3560
1        2       1    5440
2        3       1    5790
3        4       1    6420
4        5       1    3520
..     ...     ...     ...
105      6      11    9160
106      7      11    2380
107      8      11    8110
108      9      11    9980
109     10      11    9330

[110 rows x 3 columns]

In [ ]:
host_drug.to_csv("/content/sample_data/host2.csv",encoding="utf-8-sig")